body {
    color: #666;
}
a {
    text-decoration: none;
}
a.active {
    font-weight: bold;
}
#page-content-wrapper {
    background-color: #F3F7FA;
}

/* content */
.content {
    display: block;
    padding: 40px 0;
}

/* pill */
.pill {
    display: block;
    padding: 20px 25px;
    border-radius: 10px;
    clear: left;
}
.pill:hover {
    background-color: whitesmoke;
}
.pill .user-image img {
    border-radius: 100px;
    float: left;
    margin: 10px 20px 0px 0;
}
.pill .user_letter {
    width: 48px;
    height: 48px;
    padding: 12px 0 0 2px;
    float: left;
}
.pill img.image {
    float: left;
    margin-right: 30px;
    background: white;
    padding: 10px;
    border: 10px solid #dddedb;
}
.pill .title {
    color: #000;
    font-size: 25px;
}
.pill .meta {
    color: #666;
}
.pill .meta .user,
.pill .meta .replies,
.pill .meta .created-at {
    display: inline-block;
}
.pill .meta div {
    margin: 0 15px 0 0;
}

.user_letter {
    background: gainsboro;
    border-radius: 100px;
    text-align: center;
    margin: 10px 20px 0px 0;
}
